body{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: gray;
}
.left{
    width: 30%;
    height: 100%;
    background-color: red;
}
.right{
    width: 70%;
    height: 100vh;
    background-color: aqua;
}
.box2{
    margin-top: 25px;
}
.songs{
    height: 20px;
    width: 100%;
    margin-top: 5px;
    background-color: yellow;
}
.head{
    display: flex;
    justify-content: end;
}
.artists{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}
.artist{
    height: 50px;
    width: 300px;
    background-color: gray;
    padding: 5px;
    margin-top: 2px;
}